# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
dist
dist-ssr
*.local

# editors / IDE
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# node
node_modules

# yarn 4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# tsbuildinfo
*.tsbuildinfo

# misc
package-lock.json
